@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aefwqb');
  src:  url('fonts/icomoon.eot?aefwqb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aefwqb') format('truetype'),
    url('fonts/icomoon.woff?aefwqb') format('woff'),
    url('fonts/icomoon.svg?aefwqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icons-"], [class*=" icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-facebook:before {
  content: "\e900";
}
.icons-youtube:before {
  content: "\e901";
}
.icons-instagram:before {
  content: "\e902";
}
