{% extends "base.twig" %}

{% block header %}
	
	<div class="wrapper">
		<h1 class="hdr-logo" role="banner">
			
			<a class="hdr-logo-link" href="{{site.url}}" rel="home">
				<img src="{{theme.path~'/img/logotype.svg'}}" alt="">	
			</a>

		</h1>
		
		<nav id="nav-main" class="nav-main" role="navigation">
			{% include "menu.twig" with {'items': menu.get_items} %}
		</nav><!-- #nav -->
	</div>

{% endblock %}

{% block content %}
	{#VIDEO#}
	<section class="columns video-container">
		<div class="column is-8 is-offset-2  ">	
	  	<div class="flashs-container is-hidden-mobile">
	  		<div class="flashs">
					{% for flash in flashs %}
						<h4 class="flash"> {{flash.title}} : {{flash.content|striptags}}  // </h4>
					{% endfor %}
				 </div>
			</div>
			<div class="image is-16by9">
				<iframe 
					class="has-ratio" 
					src="https://player.vimeo.com/video/{{video}}?autoplay=1&title=0&byline=0&portrait=0"  
					frameborder="0" 
					allow="autoplay" >
				</iframe>
			</div>
		</div>
	
	</section>
		{#ACTUS ET DERNIERS PROJETS#}
	<section class="columns actus">
		
		<div class="column is-3 notices">	
			<h2 class="title-home">ACTUALITÉS</h2>
			{% for actu in actus %}
				<h3><strong>{{actu.date('d.m.y')}}</strong></h3>
				<em>{{actu.content}}</em>
			{% endfor  %}
		</div>
		
		{#CAROUSEL MOBILE#}
		<div class="columns carousel is-hidden-tablet">
			<div id="carousel" class="slider column is-two-thirds is-offset-1 popup-gallery-petit">	
				{% for slide in slides %}	
					<a class="popup-image image is-256x256" href={{slide.img.sizes.large|relative }}>
					  <img src={{slide.img.sizes.medium|relative }}>
					</a>
				{% endfor %}
			</div>
		</div>	

		<div class="column is-3 is-offset-6 last-projets">	
			<h2 class="title-home">ABRI CATALOG</h2>
			{% for projet in projets %}
				<h3>
					<a href={{projet.link | relative }}>
						<strong>{{projet.title}}</strong> : <em>{{projet.meta('nom_oeuvre')}}</em> by {{projet.meta('artiste')}}
					</a>
				</h3>
			{% endfor %}

		</div>
	</section>		
		{#TAG#}		
	<section class="columns tags">
		<div class="column is-full ">	
			{% for tag in tags %}
				<a class="tag-link" data-tag-name={{tag.name}} data-tag={{tag.term_id}}>#{{tag.name}} </a>
			{% endfor  %}
		</div>	
	</section>

	{#CAROUSEL DESKTOP#}
	<div class="columns carousel is-hidden-mobile">
		<div id="carousel" class="slider column is-two-thirds is-offset-1 popup-gallery">	
			{% for slide in slides %}	
				<a class="popup-image image is-256x256" href={{slide.img.sizes.large|relative }}>
				  <img src={{slide.img.sizes.medium|relative }}>
				</a>
			{% endfor %}
		</div>
	</div>	

{% endblock %}

{% block footer %}
	{{ function('wp_footer') }}
	{% include 'modals.twig' %}
	{% include 'modal-tags.twig' %}
{% endblock %}