{% if menu %}
	<ul>
	{% for item in items %}
		<li class="title {{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" title="{{item.attr_title}}" href="{{ item.link }}">{{ item.title }}</a>

			{% include "menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
