<div class="modal modal-tags">
  <div class="modal-background"></div>
    <div class="modal-card column is-8">
    <header class="modal-card-head">
      <p class="modal-card-title">HASHTAGS</p>
      <button class="close-modal" aria-label="close">Back</button>
    </header>
    <section class="modal-card-body container">
       
	  	<div id="modal-root"></div>
    
    </section>
	</div>
</div>