<div class="modal legals">
  <div class="modal-background"></div>
    <div class="modal-card column is-8">
    <header class="modal-card-head">
      <p class="modal-card-title legal">Mentions Légales</p>
      <button class="close-modal" aria-label="close">Back</button>
    </header>
    <section class="modal-card-body container">
        ©ABRI CATALOG 2019<br>
        abricatalog@gmail.com<br>
				Design by Hi-spot &amp; <a target="_blank" href="http://clement-ravon.net/">Clément RAVON</a><br>
				Dev by <a target="_blank" href="http://clement-ravon.net/">Clément RAVON</a><br>
 
    </section>
	</div>
</div>