{% extends "base.twig" %}

{% block header %}
	<div class="wrapper container-projet">
		<div class="container ">
			<nav id="nav-single" class="nav-single" role="navigation">
				<h1 class="catalog">{{post.title}}</h1>
				<a class="single-back" href="/">BACK</a>
			</nav>	
		</div>	
	</div>
{% endblock %}

{% block content %}
	<hr class="line-projet">
	<div class="content-wrapper container-projet">
		<article class="columns post-type-{{ post.post_type }} " id="post-{{ post.ID }} ">
			<div class="column projet is-offset-3">
				
				<section class="content-about columns">
					<div class="column is-full">
						<h3 class="title is-3">Artiste/Artist</h3>
					</div>
					<div class="column is-half">{{post.meta('about_1')}}</div>
					<div class="column is-half">{{post.meta('about_2')}}</div>
				</section>
				
				<section class="content-artiste columns">
					
					<div class="column is-full">
						<h3>Artiste/Artist</h3>
					</div>

					<div class="column is-half">{{post.meta('about_artiste_1')}}</div>
					<div class="column is-half">{{post.meta('about_artiste_2')}}</div>
				</section>
				
				<section class="content-amis columns">
					<div class="column is-full">
						<h3>Amis/Friends</h3>
					</div>
					<div class="column is-half">{{post.meta('about_amis_1')}}</div>
					<div class="column is-half">{{post.meta('about_amis_2')}}</div>
				</section>
			
			</div>
		</article>
	</div>

{% endblock %}

{% block footer %}
	{{ function('wp_footer') }}
	{% include 'modal-tags.twig' %}
{% endblock %}