{% extends "base.twig" %}

{% block header %}
	<div class="wrapper container-projet">
		<div class="container ">
			<nav id="nav-single" class="nav-single" role="navigation">
				<h1 class="catalog">{{post.title}}</h1>
				<a class="single-back" href="/">BACK</a>
			</nav>	
		</div>	
	</div>
{% endblock %}

{% block content %}
	<hr class="line-projet">
	<div class="content-wrapper container-projet">
		<article class="columns post-type-{{ post.post_type }} " id="post-{{ post.ID }} ">
			<div class="column projet is-offset-3">
				
				<section class="projet-content columns">
					<div class="column left">
						
						<div class="content-text">
							{{post.content}}
						</div>	

					</div>
				</section>
			
			</div>
		</article>
	</div>

{% endblock %}

{% block footer %}
	{{ function('wp_footer') }}
	{% include 'modal-tags.twig' %}
{% endblock %}