{% extends "base.twig" %}

{% block header %}
	<div class="wrapper container-projet">
		<div class="container ">
			<nav id="nav-single" class="nav-single" role="navigation">
				<h1 class="catalog">CATALOG</h1>
				<a class="single-back" href="/">BACK</a>
			</nav>	
		</div>	
	</div>
{% endblock %}

{% block content %}
	<hr class="line-projet">
	<div class="content-wrapper container-projet">
		<article class="columns post-type-{{ post.post_type }} " id="post-{{ post.ID }} ">
			
			<div class="column is-3 cover is-half-mobile">
				
				<figure class="image is-1by1">
					<img src="{{post.thumbnail.src('large')}}" alt="cover-{{post.title}}">
				</figure>
			
				<section class="is-hidden-tablet projet-images popup-gallery ">			
					{% for image in post.meta('images') %}
						<figure class="image column is-full-mobile">
							<a class="popup-image image" href={{Image(image)|relative }}>
								<img src="{{ Image(image).src|resize(300, 300) }}" />
							</a>
						</figure>
					{% endfor %} 
				</section>
			
			</div>
			
			<div class="column projet is-half-mobile">


				<section class="projet-titres">
					
					<div class="columns  titre">
						<div class="column is-3 is-4-touch">
							<h2>{{post.title}}&nbsp:&nbsp</h2>	
						</div>
						<div class="column">
							<h2 class=" oeuvre">{{post.meta('nom_oeuvre')}} </h2>	
						</div>
					</div>
				
					<div class="columns  titre">
						<div class="column is-3 is-4-touch">
							<h2>Artist&nbsp:&nbsp</h2>	
						</div>
						<div class="column">
							<h2 class=" artiste" >{{post.meta('artiste')}}</h2>
						</div>
					</div>
				
					<div class="columns  titre ">
						<div class="column is-3 is-4-touch">
							<h2>Project&nbsp:&nbsp</h2>	
						</div>
						<div class="column">
							<h2 class=" type" >{{post.meta('nature_projet')}}</h2>
						</div>
					</div>
				</section>

				<section class="projet-content columns">
				
					<div class="column left">
	
						<div class="description-fr">
							{{post.meta('description').fr}}
						</div>	

					</div>
					
					<div class="column right">
	
						<div class="description-en ">
							{{post.meta('description').en}}
						</div>
					
					</div>
					</section>

					<section class="columns">

						<div class="infos column">
							<p>{{post.meta('infos')}}</p>
						</div>	
						<div class="column hashtags-and-url">
							<div class="columns">
								
								<div class="urls column is-3">
									<a class="projet-url-link" target="_blank" href="{{post.meta('listen')}}">LISTEN </a>
									<a class="projet-url-link" target="_blank" href="{{post.meta('watch')}}">WATCH  </a>
									<a class="projet-url-link" target="_blank" href="{{post.meta('support')}}">SUPPORT</a>  
								</div>		
								
								<div class="hashtags column is-9">
									{% for tag in post.tags %}
										<a class="tag-link" data-tag={{tag.term_id}} data-tag-name={{tag.name}}>#{{tag.name}} </a>	
									{% endfor %}
								</div>		

							</div>
						</div>
						
				</section>
				
				<section class="is-hidden-mobile projet-images columns popup-gallery ">			
					{% for image in post.meta('images') %}
						<figure class="image column is-2">
							<a class="popup-image image" href={{Image(image)|relative }}>
								<img src="{{ Image(image).src|resize(300, 300) }}" />
							</a>
						</figure>
					{% endfor %} 
				</section>

				
			
			</div>
				
		</article>
	</div>

{% endblock %}
{% block footer %}
	{{ function('wp_footer') }}
	{% include 'modal-tags.twig' %}
{% endblock %}