@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&display=swap');
// Set your brand colors
$title-color :white;
$text:white;
$text-strong:white;
// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$link: white;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$dimensions: 16 24 32 48 64 96 128 256;

//MODAL CUSTOM
$modal-card-body-background-color: black !default;

//$modal-background-background-color: rgba($black, 0.86) !default

$modal-content-width: 640px !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 40px !default;

$modal-card-head-background-color: black !default;
//$modal-card-head-border-bottom: 1px solid $border !default
$modal-card-head-padding: 20px !default;
$modal-card-head-radius: 0 !default;

$modal-card-title-color: white !default;
$modal-card-title-line-height: 1 !default;
//$modal-card-title-size: $size-4 !default

$modal-card-foot-radius: 0 !default;
//$modal-card-foot-border-top: 1px solid $border !default

$modal-card-body-background-color: white !default;
$modal-card-body-padding: 20px !default;



// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";

@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";

@import "../../node_modules/bulma/sass/elements/image.sass";

@import "../../node_modules/bulma/sass/grid/columns.sass";