.flashs-container {
	height: 3rem;
  max-width: 100%;
  margin: 4rem auto -1rem;
  position: relative;
  overflow: hidden;
}

.flashs{
  width: 10000px;  
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 100vw;
  animation: moveSlideshow 36s linear infinite;
}

.flashs h4 {
  display:inline;
  float: left;
  vertical-align:middle;
  margin:0;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-200vw);  
  }
}
