@charset "utf-8";
@import 'custom_bulma';
@import 'util/icomoon';
@import 'util/slick';
@import 'util/slick-theme';
@import 'util/magnific';
@import '_slider-text';

$grey-abri:#ffffff69;
$grey-transparent : #00000042;

body{
	min-height: 100vh;
	-webkit-overflow-scrolling: touch;
	background-size: 100%;
	background-position-x: center;
	background-position-y: top;
	overflow-y: scroll;
  overflow-x: hidden;
	*:focus{
    outline:none;
	}
}

//HEADER
header{
	overflow: hidden;	
	.wrapper{
		padding-top: 1.5rem;
		@include mobile{
			padding-top: 0.5rem;
		}
	}
	nav{
		float: right;
    width: 18%;
    @include mobile{
			width: 48%;	
		}
	  ul{
	  	
	  	li.menu-item{
	  		//ICONS
				font-size: 1.8rem;
				width: 25%;
				@include mobile{
					&.social{
						width: 33%;		
					}
				}
				float: left;
				a:hover{
					color:white;
				}
				
				&:not(.social){
				//ITEMS TEXTE
					&:first-child{
						width: 30%;	
					}
					width: 70%;
				  margin-bottom: 1rem;
				  font-size: 1.1rem;
				  font-weight: 300;
					&.menu-item-privacy-policy{
						margin-top: -1rem;
	    			width: 100%;	
					}
	
					a:hover{
						color:white;
						text-decoration: underline;
			  	}
				}

	  	}

	  }
	}

	.hdr-logo{
		width: 22%;
		@include mobile{
			width: 48%;	
		}
		float: left;
	}
}
//HOVER EFFECT
#content{
	h4:hover {
		text-shadow:white 1px 1px 8px;
		color:white;
	}
	a.tag-link:hover, h3 a:hover{
		background: white;
	  color: black;
	}
	a.tag-link, a.single-back{
		cursor: pointer;
	}	
}

header nav a.single-back, button.close-modal{
	&:hover{
		text-decoration: line-through white;
		color:$grey-abri;
	}
}
/*==================================================================================
/HOME
/*================================================================================*/

.title-home{
	text-decoration: underline;
}

.video-container{
	margin-top: -10vw;
	@include mobile{
		margin-top: 0;
	}
	z-index: 0;
	.flashs{
		white-space: nowrap; 
		overflow-x: hidden;

		h4{
			float:left;
			max-width: 40%;
			font-family: monospace;
    	text-transform: uppercase;
    	font-weight: normal;
		}
	}
	.image{
		//margin-top: 2vh;
		i-frame{
				z-index: 0;
		}
	}
	
}

.columns.actus{
	color: white;
	margin-top: -37%;
  z-index: 2;
  position: relative;
  .notices{
  	//min-height: 44rem;
		height: fit-content;
		text-align: right;
		background-color:$grey-transparent;
		em p{
			line-height: 1.3;
		}

  }
  .last-projets{
  	height: 33rem;
  	background-color:$grey-transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    a{
    	line-height: 1.1;
    }
  }
  @include mobile{
  	margin-top: -2rem;
  	.notices{
  		background-color:transparent;
			text-align: left;
			overflow: hidden;
  	}
	  .last-projets{
	  	background-color:transparent;
			height: auto;
	    overflow: visible;
	    a{
	    	line-height: 1.1;
	    }
	  }
  }
}

.tags{
	//Pour éviter chevauchement avec actus 
	//margin-top: -18rem;
	width: 25%;
	background-color:$grey-transparent;

	margin-top: -11rem;
	@include fullhd {
		margin-top:-4rem;
	}
	
	@include widescreen {
		margin-top:-12rem;
	}
	
	@include tablet-only{
		margin-top: -15rem;
	}
	
	@media screen and (min-width: 1540px) {
		margin-top:0;
	}
	
	z-index: 2;
  position: relative;
	text-align: right;
	@include mobile{
		width: 100%;
  	margin-top: 0;
  }

}

.carousel {
	margin-top: -6rem;
	@include tablet-only{
		margin-top: -23rem;
	}
	@include desktop-only{
		margin-top: -15rem;
	}
	@include mobile{
		margin-top: 0;
		a.image{
			height: auto;	
		}
	}
}

.slider{
	padding-top: 0;
	.slick-slide{
	  margin-left:  12px;
	  margin-right:  12px;
	  @include mobile{
	  	margin-left:  6px;
	  	margin-right:  6px;
	  }
	}
}


	body.home{
	@include mobile{
		header .wrapper{
			padding: 0 2%;		
		}	
		section .wrapper{
			padding: 0 4%;		
		}	
	}
	.mfp-counter{
		display: none;
	}
}

/*==================================================================================
/*SINGLE
/*================================================================================*/
.single-projet, .page-template-default{
	$font-size-projet:1rem; 
	.container-projet{
		width: 95vw;
		margin: 0 auto;
		p{
			font-size:$font-size-projet;
		}
		.column.is-half-mobile{
			@include mobile{
				float: left;	
				&>figure{
					margin-bottom: 0.75rem;
				}
				.popup-gallery figure {
					padding-left: 0;
    			padding-right: 0;	
				}
			}
		}
	}

	header nav {
		overflow: hidden;
    & * {
    	float: left;
    }
    width: 100%;
    .catalog{
			font-size: 5.3vw;
			line-height: 1;
			text-transform: uppercase;
    }
    .single-back{
    	font-size: 3rem;
    	float: right;
    	text-decoration: underline;
    }
    @include mobile{
    	.catalog{
				font-size: 4rem;
			}
			.single-back{
				font-size: 2rem;
			}
		}
	}

	.line-projet{
  	display: block;
  	width: 100vw;
  	height: 2px;
  	background-color: $grey-abri;
  	margin-top: 0.75rem;
  }
	.projet-titres{
		justify-items: center;
		@include mobile{
			.columns{
				padding-left: 0.75rem;
			}
		}
		.columns>.column{
			text-align: left;
			
			padding-left: 0;
			padding-top: 0;
			padding-bottom: 0;
			@include mobile{
				padding-bottom: 0.75rem;
			}
			&:first-child{
				text-align: right;
				padding-right: 0;
				@include mobile{
					text-align: left;
					padding-bottom: 0;
				}
			}
		}

		h2{
			font-size:$font-size-projet*1.2;
			font-weight: 600;
			line-height: 1;
		}

		.artiste, .type{
			font-weight: normal;
   		font-style: italic;
		}
		
		.titre{
			flex:none;
			text-align: right;	
			@include mobile{
				text-align: left;	
			}
			padding-right: 0;
		}

	
	}

	.description-en {
		font-style: italic;
    font-weight: 600;
	}

  
  .hashtags, .infos p{
  	font-size:$font-size-projet*0.85;
  }
  .projet-url-link{
  	display: block;
  	font-weight: 600;
  }
  @include mobile{
  	.hashtags-and-url .column{
			float: left;
  	}
  	
  }
  
}
/*==================================================================================
/*ABOUT
/*================================================================================*/
.page-template-default{
	section.columns{
		flex-wrap: wrap;	
		h3{
			font-size: 1.2rem;
    	font-weight: 600;
		}
	}
	
}

/*==================================================================================
/*MODAL 
/*================================================================================*/
.modal{
	h2{
		font-size: 3rem;
	}
	.modal-card{
			min-height: 61vh;
		.modal-card-title{
			font-size: 6rem;
		}
		.modal-card-head	{
			button{
				text-decoration: underline;
				background-color: black;
			  color: white;
			  border: none;
			  font-size: 3.5rem;
			}	
		}
		.modal-card-body{
			a.post-links{
				display: block;
			}	
		}
		@include mobile{
			
			.modal-card-title{
				font-size: 3rem;	
				&.legal{
					font-size: 2rem;	
				}
			}
			
			button.close-modal{
				font-size: 2rem;
			}
		}

	}
}

/*==================================================================================
/*GALERIE
/*================================================================================*/
.mfp-container{
	&:hover{
		cursor:auto;
	}
	.mfp-content{
		.mfp-close:hover{
			cursor:auto;
		}
	}
}

/*==================================================================================
/*IFRAME
/*================================================================================*/

iframe #player > div.vp-controls-wrapper > div.vp-sidedock, 
iframe #player > div.vp-controls-wrapper > div.vp-controls > div > div.logo{
	display: none;
}
